<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Builder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row m5">
            <div class="col-md-12">
                <h1>CV Generator</h1>
                <hr>
            </div>
        </div>
        
        <div class="row m5">
            <div class="col-md-7">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="">Name</label>
                      <input type="text" name="name" id="" class="form-control" placeholder="eg Remon Rakibul" aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Phone</label>
                        <input type="text" name="phone" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" name="email" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">School</label>
                        <input type="text" name="school" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Degree</label>
                        <input type="text" name="degree" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">University</label>
                        <input type="text" name="university" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Skills</label>
                        <input type="text" name="skills" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">About</label>
                        <input type="text" name="about" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Experience</label>
                        <input type="text" name="experience" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Publications</label>
                        <input type="text" name="publications" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Awards</label>
                        <input type="text" name="awards" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for="">Certifications</label>
                        <input type="text" name="certifications" id="" class="form-control" placeholder="eg " aria-describedby="helpId">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
        
</body>
</html>