<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>{{ user_profile.name }}</h2>
    <h2>{{ user_profile.email }}</h2>
    <h2>{{ user_profile.phone }}</h2>
    <hr>
    <p>Summary</p>
    <p>{{ user_profile.about }}</p>
    <p>Skills</p>
    <p>{{ user_profile.skills }}</p>
    <p>Education</p>
    <p>{{ user_profile.degree }}</p>
    <p>{{ user_profile.university }}</p>
</body>
</html>